---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<style>
.archive__item {
  margin-bottom: 1em !important;
}
.archive__item-excerpt {
  margin-top: 5px !important;
  margin-bottom: 0.5em !important;
  font-size: 0.85em !important;
}
.archive__item-authors {
  margin-bottom: 2px !important;
  line-height: 1.0 !important;
}
/* Specific targeting for working papers */
.workingpapers-item .archive__item-authors {
  margin-bottom: -5px !important;
}
.workingpapers-item .archive__item-excerpt {
  margin-top: 0px !important;
}
h2 {
  margin-bottom: 0.2em !important;
  margin-top: 1.5em !important;
}
p {
  margin-bottom: 0.5em !important;
}
hr {
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}
.archive__item a {
  color: #A51C30 !important;
}
.archive__item a:hover {
  color: #8B1728 !important;
}
</style>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<p>I study how market-based and regulatory policies can effectively address climate change and pollution, especially through incentives for clean energy and strategies for emission reduction, using a range of quantitative and qualitative methods to inform sustainable policy decisions.</p>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
    {% for post in site.workingpapers reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
  {% for post in site.workingpapers reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



